.parent_box {
    width: 800px; 
    font-size:0;
    margin: auto;
    margin-top: 100px;
    
}

.box {
    display: inline-block;
    border: 1px solid #000000;
}

/*Shape Sizes*/
.rect_half {
    height: 200px;
    width:  50%;
}
.square_3rd {
    height: 300px;
    width: 33.33%;
}


/*Shape Colors*/

.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.gray {
    background-color: gray;
}
.black {
    background-color: black;
}
.orange {
    background-color: orange;
}