body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.outerspace-one, .outerspace-two {
    width: 300px;        
}

.outerspace-one {
    float: left;
    padding: 15px 15px 15px 0;   
}

.outerspace-two {
    float: right;
    padding: 15px 0 15px 15px;
}
